@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ExpensesManagment.Web.Data.Entities.Income
<div style="width:80%;margin-left: 80px;margin-top: 60px;">
    <form asp-controller="Income" asp-action="AddIncome" method="post">
        <div class="form-group">

            <label>source</label>
            <input asp-for="Source" class="form-control" />
            <small class="form-text text-muted">your income source</small>

            <br />
        </div>
        <div class="form-group">

            <label>How much is your income money</label>
            <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" asp-for="IncomeMoney">
            </div>
            <small class="form-text text-muted">how much is your income money</small>

            <br />
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary">add Income</button>

        
    </form>
</div>