
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">About Me</h1>
        <p>my Name is Parsa and I've Start coding for 2 years</p>
        <p><a class="btn btn-primary btn-lg" asp-action="Index" role="button">About Me</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>JavaScript <i class="bi bi-filetype-js"></i></h2>
            <p>JavaScript is The first popular web browser with a graphical user interface, Mosaic, was released in 1993. Accessible to non-technical people, it played a prominent role in the rapid growth of the nascent World Wide Web. The lead developers of Mosaic then founded the Netscape corporation, which released a more polished browser, Netscape Navigator, in 1994. This quickly became the most-used.</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/JavaScript" role="button">Learn More&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Html&Css <i class="bi bi-filetype-html"></i></h2>
            <p>In 1980, physicist Tim Berners-Lee, a contractor at CERN, proposed and prototyped ENQUIRE, a system for CERN researchers to use and share documents. In 1989, Berners-Lee wrote a memo proposing an Internet-based hypertext system. Berners-Lee specified HTML and wrote the browser and server software in late 1990. </p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/HTML" role="button">Learn More&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>.Net <i class="bi bi-server"></i></h2>
            <p>On November 12, 2014, Microsoft announced .NET Core, in an effort to include cross-platform support for .NET, including Linux and macOS, source for the .NET Core CoreCLR implementation, source for the "entire [...] library stack" for .NET Core,[7] and the adoption of a conventional ("bazaar"-like) open-source development model under the stewardship of the .NET Foundation. Miguel de Icaza describes .NET Core as a "redesigned version of .NET that is based on the simplified version of the class libraries"</p>
            <p><a class="btn btn-secondary" href="https://dotnet.microsoft.com/en-us/" role="button">Learn More&raquo;</a></p>
        </div>
    </div>

    <hr>

</div> <!-- /container -->